<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />

    <authentication mode="Forms">
      <forms timeout="70"/>
    </authentication>

    <sessionState timeout="70"></sessionState>

    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
